name: Azure Docker Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Login to Azure Container Registry
      uses: azure/docker-login@v1
      with:
        login-server: sapienscontainer.azurecr.io
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build Docker image
      run: docker build -t sapienscontainer.azurecr.io/todo-sapiens:${{ github.sha }} .

    - name: Push Docker image to Azure Container Registry
      run: docker push sapienscontainer.azurecr.io/todo-sapiens:${{ github.sha }}

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v2
      with:
        app-name: todo-sapiens
        images: sapienscontainer.azurecr.io/todo-sapiens:${{ github.sha }}
